<!--The content below is only a placeholder and can be replaced.-->
<!--<router-outlet></router-outlet>-->
<div class="container">
  <div class="row">
    <div>
      <h1>Search Youtube</h1>
    </div>
  </div>
  <div class="row">
    <form>
      <div class="col-12">
        <label>Search Youtube: <input type="text" (input)="searchTerm = $event.target.value" placeholder="input search term" required /></label>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit" (click)="onSearch(searchTerm)">Search</button>
      </div>
    </form>
  </div>
  <div class="row">
    {{repsonse}}
  </div>
</div>
